NASA_API_KEY=get_a_free_api_key_from_nasa_website

SILLYPOINT_DB_NAME=sillypoint
SILLYPOINT_DB_USER=sillypoint_user
SILLYPOINT_DB_PASSWORD=sillypoint_password
SILLYPOINT_DB_PORT=5432

ODATA_DB_NAME=odata
ODATA_DB_USER=odata_user
ODATA_DB_PASSWORD=odata_password
ODATA_DB_PORT=5433
